<form #form="ngForm" (ngSubmit)="handleUpdate(form)">
  <section>
    <p>First Name</p>
    <input
      type="text"
      name="firstName"
      required
      minlength="1"
      [ngModel]="contact?.firstName"
      #firstName="ngModel"
    />
    <p
      class="error"
      *ngIf="firstName.hasError('required') && firstName.touched"
    >
      First Name is required
    </p>
  </section>
  <section>
    <p>Last Name</p>
    <input
      type="text"
      name="lastName"
      required
      [ngModel]="contact?.lastName"
      #lastName="ngModel"
    />
    <p class="error" *ngIf="lastName.hasError('required') && lastName.touched">
      Last Name is required
    </p>
  </section>
  <section>
    <p>Phone Number</p>
    <input
      type="text"
      name="phone"
      required
      [ngModel]="contact?.phone"
      #phone="ngModel"
    />
    <p class="error" *ngIf="phone.hasError('required') && phone.touched">
      Phone Number is required
    </p>
  </section>
  <section>
    <p>Address</p>
    <textarea
      name="address"
      cols="20"
      rows="10"
      required
      [ngModel]="contact?.address"
      #address="ngModel"
    ></textarea>
    <p class="error" *ngIf="address.hasError('required') && address.touched">
      Address is required
    </p>
  </section>

  <button type="submit" *ngIf="!contact">Add to Contacts</button>
  <button type="submit" *ngIf="contact">Update</button>
</form>
