<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <section>
    <p>First Name</p>
    <input type="text" name="firstName" ngModel />
  </section>
  <section>
    <p>Last Name</p>
    <input type="text" name="lastName" ngModel />
  </section>
  <section>
    <p>Phone Number</p>
    <input type="text" name="phone" ngModel />
  </section>
  <section>
    <p>Address</p>
    <textarea name="address" cols="20" rows="10" ngModel></textarea>
  </section>

  <button type="submit">Add to Contacts</button>
</form>
