form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}

input {
  height: 1.5rem;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
}

.label {
  font-size: medium;
}

.error {
  color: rgba(247, 94, 94, 0.971);
  text-align: center;
}

button {
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgb(225, 224, 224);
}
